
{% extends 'base.html' %} {% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<title>Guruji Speaks</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

	<!-- Favicons -->
	<link href="{% static 'assets/img/GrujiSpeaks-img/logo-2.png' %}" rel="icon">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">

	<!-- Feathericon CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/feather.css' %}">

	<!-- Main CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
	<style>
		ul {
			list-style-type: disc;
			margin-left: -15px;
			text-align: justify;
		}
		p{
			text-align: justify;
		}

		
		.header.header-fourteen.header-twelve .header-nav .header-navbar-rht{
			visibility: hidden;
		}

		.btn-primary {
			background-color: #1c3264;
			border: 1px solid #1c3264;
		}

		.btn-primary:hover {
			background-color: #1c3264;
			border: 1px solid #1c3264;
		}

		
		.btn-primary:active {
			background-color: #1c3264;
			border: 1px solid #1c3264;
		}
	</style>

</head>

<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">

		
		<!-- Breadcrumb -->
		<div class="breadcrumb-bar-two">
			<div class="container">
				<div class="row align-items-center inner-banner">
					<div class="col-md-12 col-12 text-center">
						<h2 class="breadcrumb-title">Blogs</h2>
						<nav aria-label="breadcrumb" class="page-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="/">Home</a></li>
								<li class="breadcrumb-item" aria-current="page">Blogs</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- /Breadcrumb -->

		<!-- Page Content -->
		<div class="content">
			<div class="container">

				<div class="row">
					<div class="col-lg-8 col-md-12">
						<div class="blog-view">
							<div class="blog blog-single-post">
								<div class="blog-image">
									<a href="javascript:void(0);"><img alt="" src="{% static 'assets/img/Blog 4.png' %}"
											class="img-fluid"></a>
								</div>
								<h3 class="blog-title">
									Unveiling the Cosmic Dance: Navigating Spiritual Depths through Planets and Occultism
								</h3>
								<div class="blog-info clearfix">
									<div class="post-left">
										<ul>
											<li>
												<div class="post-author">
													<a href="doctor-profile.html"><img
															src="{% static 'assets/img/doctors/doctor-thumb-02.jpg' %}"
															alt="Post Author"> <span>Darren Elder</span></a>
												</div>
											</li>
											<li><i class="far fa-calendar"></i>4 Dec 2019</li>
											<li><i class="far fa-comments"></i>12 Comments</li>
											<!-- <li><i class="fa fa-tags"></i>Health Tips</li> -->
										</ul>
									</div>
								</div>
								<div class="blog-content">
									<p>In ancient Indian astrology, the celestial dance of planets held secrets waiting to be discovered. Rahu and Ketu, the enigmatic shadow planets, were the key to unlocking profound knowledge and magical powers. Legends whispered that these planets, known as the nodes, were born as powerful demons, equal in strength to the gods themselves.
									</p>
									<p>Rahu, the north node, bestowed intelligence and a hunger for deeper understanding. It led seekers down the path of research and experience, revealing hidden truths. Ketu, the south node, held the mastery of occultism, unveiling the secrets of the divine. The two planets were intertwined, granting insight into ancient arts such as tantra, medicine, alchemy, and occult sciences. But their blessings came with a warning – without their grace, one could not unlock the full potential of Jupiter, the planet of spiritual wisdom.</p>
									<p>During the Rahu Mahadasha, a phase dominated by Rahu’s influence, chaos reigned. Cheaters, toxic relationships, and obsessions haunted those caught in its grasp. Anxiety and business losses became constant companions, while marriages crumbled under its weight. In contrast, the Ketu Mahadasha ushered in a detachment from material desires, leading to spiritual transformation but also losses and obstacles.
									</p>
									<p>
										Saturn, the planet that hammered individuals into the realm of reality, played a crucial role in occultism. Jupiter provided the knowledge to explore the vast cosmos, while Rahu gifted the intelligence to rationalize and delve deeper. Ketu, with its introspective nature, empowered practitioners to implement the ancient knowledge of alchemy effectively.
									</p>
									<p>
										Saturn, the planet that hammered individuals into the realm of reality, played a crucial role in occultism. Jupiter provided the knowledge to explore the vast cosmos, while Rahu gifted the intelligence to rationalize and delve deeper. Ketu, with its introspective nature, empowered practitioners to implement the ancient knowledge of alchemy effectively.
										</p>
										<p>When Saturn joined forces with the shadow planets, a magnetic aura surrounded those touched by their influence. It drew others in, fascinated by their energy. Depending on the placement, this combination allowed access to the astral world and the ability to release ancestral bonds. Sensitivity to unseen forces heightened, revealing karmic connections with those around them. But caution prevailed, for a malefic placement could prove fatal. Jupiter and Venus offered protection, bridging the gap between realms and detoxifying energies.</p>
										<p>
											In the realm of magic, timing was everything. Rahu’s demonic nature demanded respect. Rituals performed during Rahu’s appointed hours yielded either resounding success or devastating failure. Wise sages cautioned against conducting rituals at specific times when Rahu’s energy surged.
										</p>
										<p>In the tapestry of planets and occultism, Kundli match and horoscope match played vital roles. Understanding these cosmic patterns unlocked the secrets of magic and astrology, inviting practitioners into a world where wisdom and cosmic energies danced in harmony.</p>
										<p>
											Step into this mystical realm with reverence, for ancient knowledge and hidden powers await those who dare to explore the enchanting dance of planets and the mysteries of occultism.
										</p>
									
								</div>
							</div>

							<div class="card blog-share clearfix">
								<div class="card-header">
									<h4 class="card-title">Share the post</h4>
								</div>
								<div class="card-body">
									<ul class="social-share">
										<li><a href="https://www.facebook.com/GurujiSpeaksAstrology?mibextid=LQQJ4d"
											target="_blank" title="Facebook"><i class="fab fa-facebook"></i></a></li>
										<li><a href="https://twitter.com/guruji_speaks?s=20" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
										<li><a href="https://www.linkedin.com/company/guruji-speaks/" target="_blank" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
										<!-- <li><a href="#" title="Google Plus"><i class="fab fa-google-plus"></i></a></li>
										<li><a href="#" title="Youtube"><i class="fab fa-youtube"></i></a></li> -->
										<li>
											<a href="https://www.instagram.com/gurujispeaks_astro/" target="_blank"><i
													class="fab fa-instagram"></i></a>
										</li>
									</ul>
								</div>
							</div>
							<!-- <div class="card author-widget clearfix">
								<div class="card-header">
									<h4 class="card-title">About Author</h4>
									</div>
								<div class="card-body">
									<div class="about-author">
										<div class="about-author-img">
											<div class="author-img-wrap">
												<a href="doctor-profile.html"><img class="img-fluid rounded-circle" alt="" src="assets/img/doctors/doctor-thumb-02.jpg"></a>
											</div>
										</div>
										<div class="author-details">
											<a href="doctor-profile.html" class="blog-author-name">Dr. Darren Elder</a>
											<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
										</div>
									</div>
								</div>
								</div>
								<div class="card blog-comments clearfix">
									<div class="card-header">
										<h4 class="card-title">Comments (12)</h4>
									</div>
									<div class="card-body pb-0">
									<ul class="comments-list">
										<li>
											<div class="comment">
												<div class="comment-author">
													<img class="avatar" alt="" src="assets/img/patients/patient4.jpg">
												</div>
												<div class="comment-block">
													<span class="comment-by">
														<span class="blog-author-name">Michelle Fairfax</span>
													</span>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
													<p class="blog-date">Dec 6, 2017</p>
													<a class="comment-btn" href="#">
														<i class="fas fa-reply"></i> Reply
													</a>
												</div>
											</div>
											<ul class="comments-list reply">
												<li>
													<div class="comment">
														<div class="comment-author">
															<img class="avatar" alt="" src="assets/img/patients/patient5.jpg">
														</div>
														<div class="comment-block">
															<span class="comment-by">
																<span class="blog-author-name">Gina Moore</span>
															</span>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae.</p>
															<p class="blog-date">Dec 6, 2017</p>
													<a class="comment-btn" href="#">
														<i class="fas fa-reply"></i> Reply
													</a>
														</div>
													</div>
												</li>
												<li>
													<div class="comment">
														<div class="comment-author">
															<img class="avatar" alt="" src="assets/img/patients/patient3.jpg">
														</div>
														<div class="comment-block">
															<span class="comment-by">
																<span class="blog-author-name">Carl Kelly</span>
															</span>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae.</p>
															<p class="blog-date">December 7, 2017</p>
													<a class="comment-btn" href="#">
														<i class="fas fa-reply"></i> Reply
													</a>
														</div>
													</div>
												</li>
											</ul>
										</li>
										<li>
											<div class="comment">
												<div class="comment-author">
													<img class="avatar" alt="" src="assets/img/patients/patient6.jpg">
												</div>
												<div class="comment-block">
													<span class="comment-by">
														<span class="blog-author-name">Elsie Gilley</span>
													</span>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
													<p class="blog-date">December 11, 2017</p>
												</div>
											</div>
										</li>
										<li>
											<div class="comment">
												<div class="comment-author">
													<img class="avatar" alt="" src="assets/img/patients/patient7.jpg">
												</div>
												<div class="comment-block">
													<span class="comment-by">
														<span class="blog-author-name">Joan Gardner</span>
													</span>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
													<p class="blog-date">December 13, 2017</p>
													<a class="comment-btn" href="#">
														<i class="fas fa-reply"></i> Reply
													</a>
												</div>
											</div>
										</li>
									</ul>
								</div>
								</div>
								 -->
							<div class="card new-comment clearfix">
								<div class="card-header">
									<h4 class="card-title">Leave Comment</h4>
								</div>
								<div class="card-body">
									<form>
										<div class="form-group">
											<label>Name <span class="text-danger">*</span></label>
											<input type="text" class="form-control">
										</div>
										<div class="form-group">
											<label>Your Email Address <span class="text-danger">*</span></label>
											<input type="email" class="form-control">
										</div>
										<div class="form-group">
											<label>Comments</label>
											<textarea rows="4" class="form-control"></textarea>
										</div>
										<div class="submit-section">
											<button class="btn btn-primary submit-btn" type="submit">Submit</button>
										</div>
									</form>
								</div>
							</div>

						</div>
					</div>

					<!-- Blog Sidebar -->
					<div class="col-lg-4 col-md-12 sidebar-right theiaStickySidebar">

						<!-- Search -->
						<div class="card search-widget">
							<div class="card-body">
								<form class="search-form">
									<div class="input-group">
										<input type="text" placeholder="Search..." class="form-control">
										<button type="submit" class="btn btn-primary"><i
												class="fa fa-search"></i></button>
									</div>
								</form>
							</div>
						</div>
						<!-- /Search -->

						<!-- Latest Posts -->
						<div class="card post-widget">
							<div class="card-header">
								<h4 class="card-title">Latest Posts</h4>
							</div>
							<div class="card-body">
								<ul class="latest-posts">
									<li>
										<div class="post-thumb">
											<a href="/blogs_1/">
												<img class="img-fluid" src="{% static 'assets/img/Blog 1.png' %}" alt="">
											</a>
										</div>
										<div class="post-info">
											<h4>
												<a href="/blogs_1/">Transcending Boundaries: Kainchi Dham's Sacred Aura Embraces Tech Titans Zuckerberg and Jobs</a>
											</h4>
											<p>4 Dec 2019</p>
										</div>
									</li>
									<li>
										<div class="post-thumb">
											<a href="/blogs_2/">
												<img class="img-fluid" src="{% static 'assets/img/Blog 2.png' %}" alt="">
											</a>
										</div>
										<div class="post-info">
											<h4>
												<a href="/blogs_2/">Unleash Your Financial Destiny: Empowering Yourself with Astrological Wisdom for Lasting Wealth</a>
											</h4>
											<p>3 Dec 2019</p>
										</div>
									</li>
									<li>
										<div class="post-thumb">
											<a href="/blogs_3/">
												<img class="img-fluid" src="{% static 'assets/img/Blog 3.png' %}" alt="">
											</a>
										</div>
										<div class="post-info">
											<h4>
												<a href="/blogs_3/">Divine Revelation: The Miraculous Secrets of 108 – Unveiling Hinduism’s Sacred Number</a>
											</h4>
											<p>3 Dec 2019</p>
										</div>
									</li>
									<li>
										<div class="post-thumb">
											<a href="/blogs_3/">
												<img class="img-fluid" src="{% static 'assets/img/Blog 4.png' %}" alt="">
											</a>
										</div>
										<div class="post-info">
											<h4>
												<a href="/blogs_3/">Astrology Beyond Boundaries: Embracing LGBTQ Love in Vedic Astrology</a>
											</h4>
											<p>2 Dec 2019</p>
										</div>
									</li>
									<li>
										<div class="post-thumb">
											<a href="/blogs_5/">
												<img class="img-fluid" src="{% static 'assets/img/Blog 5.png' %}" alt="">
											</a>
										</div>
										<div class="post-info">
											<h4>
												<a href="/blogs_5/">Unveiling the Cosmic Dance: Navigating Spiritual Depths through Planets and Occultism</a>
											</h4>
											<p>1 Dec 2019</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<!-- /Latest Posts -->

						<!-- Categories -->
						<!-- <div class="card category-widget">
							<div class="card-header">
								<h4 class="card-title">Blog Categories</h4>
							</div>
							<div class="card-body">
								<ul class="categories">
									<li><a href="#">Cardiology <span>(62)</span></a></li>
									<li><a href="#">Health Care <span>(27)</span></a></li>
									<li><a href="#">Nutritions <span>(41)</span></a></li>
									<li><a href="#">Health Tips <span>(16)</span></a></li>
									<li><a href="#">Medical Research <span>(55)</span></a></li>
									<li><a href="#">Health Treatment <span>(07)</span></a></li>
								</ul>
							</div>
						</div> -->
						<!-- /Categories -->

						<!-- Tags -->
						<!-- <div class="card tags-widget">
							<div class="card-header">
								<h4 class="card-title">Tags</h4>
							</div>
							<div class="card-body">
								<ul class="tags">
									<li><a href="#" class="tag">Children</a></li>
									<li><a href="#" class="tag">Disease</a></li>
									<li><a href="#" class="tag">Appointment</a></li>
									<li><a href="#" class="tag">Booking</a></li>
									<li><a href="#" class="tag">Kids</a></li>
									<li><a href="#" class="tag">Health</a></li>
									<li><a href="#" class="tag">Family</a></li>
									<li><a href="#" class="tag">Tips</a></li>
									<li><a href="#" class="tag">Shedule</a></li>
									<li><a href="#" class="tag">Treatment</a></li>
									<li><a href="#" class="tag">Dr</a></li>
									<li><a href="#" class="tag">Clinic</a></li>
									<li><a href="#" class="tag">Online</a></li>
									<li><a href="#" class="tag">Health Care</a></li>
									<li><a href="#" class="tag">Consulting</a></li>
									<li><a href="#" class="tag">Doctors</a></li>
									<li><a href="#" class="tag">Neurology</a></li>
									<li><a href="#" class="tag">Dentists</a></li>
									<li><a href="#" class="tag">Specialist</a></li>
									<li><a href="#" class="tag">Doccure</a></li>
								</ul>
							</div>
						</div>
						<!-- /Tags -->

					<!-- </div> --> 
					<!-- /Blog Sidebar -->

				</div>
			</div>

		</div>
		<!-- /Page Content -->

		<!-- Footer -->
		<!-- <footer class="footer footer-one">
				<div class="footer-top">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-md-4">
								<div class="footer-widget footer-about">
									<div class="footer-logo">
										<img src="assets/img/logo.png" alt="logo">
									</div>
									<div class="footer-about-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-2 col-md-4">
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">For Patients</h2>
									<ul>
										<li><a href="search.html">Search for Doctors</a></li>
										<li><a href="login.html">Login</a></li>
										<li><a href="register.html">Register</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-2 col-md-4">
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">For Doctors</h2>
									<ul>
										<li><a href="appointments.html">Appointments</a></li>
										<li><a href="chat.html">Chat</a></li>
										<li><a href="login.html">Login</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-2 col-md-5">
								<div class="footer-widget footer-contact">
									<h2 class="footer-title">Contact Us</h2>
									<div class="footer-contact-info">
										<div class="footer-address">
											<p><i class="feather-map-pin"></i> 3556 Beech Street, USA</p>
										</div>
										<div class="footer-address">
											<p><i class="feather-phone-call"></i> +1 315 369 5943</p>
										</div>
										<div class="footer-address mb-0">
											<p><i class="feather-mail"></i> doccure@example.com</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-7">
								<div class="footer-widget">
									<h2 class="footer-title">Join Our Newsletter</h2>
									<div class="subscribe-form">
										<form action="#">
		                                    <input type="email" class="form-control" placeholder="Enter Email">
		                                    <button type="submit" class="btn">Submit</button>
	                                    </form>
	                                </div>
									<div class="social-icon">
										<ul>
											<li>
												<a href="javascript:;" target="_blank"><i class="fab fa-facebook"></i> </a>
											</li>
											<li>
												<a href="javascript:;" target="_blank"><i class="fab fa-instagram"></i></a>
											</li>
											<li>
												<a href="javascript:;" target="_blank"><i class="fab fa-twitter"></i> </a>
											</li>
											<li>
												<a href="javascript:;" target="_blank"><i class="fab fa-linkedin-in"></i></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-bottom">
					<div class="container">
						<!-- Copyright -->
		<!-- <div class="copyright">
							<div class="row">
								<div class="col-md-6 col-lg-6">
									<div class="copyright-text">
										<p class="mb-0"> Copyright © 2023 <a href="https://themeforest.net/user/dreamguys/portfolio" target="_blank">Dreamguys.</a> All Rights Reserved</p>
									</div>
								</div>
								<div class="col-md-6 col-lg-6">
								
									<!-- Copyright Menu -->
		<!-- <div class="copyright-menu">
										<ul class="policy-menu">
											<li><a href="privacy-policy.html">Privacy Policy</a></li>
											<li><a href="terms-condition.html">Terms and Conditions</a></li>
										</ul>
									</div>
									<!-- /Copyright Menu -->

		<!-- </div>
							</div>
						</div>
									
					</div>
				</div>
			</footer> -->
		<!-- /Footer -->

	</div>
	<!-- /Main Wrapper -->

	<!-- jQuery -->
	<script src="{% static 'assets/js/jquery-3.6.4.min.js' %}"></script>

	<!-- Bootstrap Core JS -->
	<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

	<!-- Sticky Sidebar JS -->
	<script src="{% static 'assets/plugins/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
	<script src="{% static 'assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>

	<!-- Custom JS -->
	<script src="{% static 'assets/js/script.js' %}"></script>

</body>

</html>

{% endblock %}