{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
		<title>Vendor Management System</title>
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="{% static 'assets3/assets/img/GrujiSpeaks-img/logo-2.png' %}" type="image/x-icon">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'assets3/assets/css/bootstrap.min.css' %}">
				
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="{% static 'assets3/assets/plugins/fontawesome/css/fontawesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets3/assets/plugins/fontawesome/css/all.min.css' %}">

		<!-- Feathericon CSS -->
    	<link rel="stylesheet" href="{% static 'assets3/assets/css/feather.css' %}">

    	<!-- Mobile CSS-->
		<link rel="stylesheet" href="{% static 'assets3/assets/plugins/intltelinput/css/intlTelInput.css' %}">
    	<link rel="stylesheet" href="{% static 'assets3/assets/plugins/intltelinput/css/demo.css' %}">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="{% static 'assets3/assets/css/custom.css' %}">

		<style>
			.login-content-info {
				margin: 0;
				padding: 30px 0 150px;
				background-image: url("{%static 'assets3/assets/img/GrujiSpeaks-img/background_new.png' %}");
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
                background-color: lightblue;
			}

			.login-content-info .account-content .login-title {
				padding-bottom: 25px;
			}

			.form-check {
				display: inline-block;
				min-height: 1.5rem;
				padding-left: 1.5em;
				margin-bottom: .125rem;
			}
		</style>
	</head>		
	<body class="login-body">

		<!-- Main Wrapper -->
		<div class="main-wrapper home-fourteen">
					
			<!-- Page Content -->
			<div class="login-content-info">
				<div class="container">

					<!-- Doctor Signup -->
					<div class="row justify-content-center">
						<div class="col-lg-4 col-md-6 bg-light p-4 rounded">
							<div class="account-content">
								<div class="login-shapes">
									<div class="shape-img-left">
										<img src="{%static 'assets3/assets/img/shape-01.png' %}" alt="">
									</div>
									<div class="shape-img-right">
										<img src="{%static 'assets3/assets/img/shape-02.png' %}" alt="">
									</div>
								</div>
								<div class="widget-set">
									<div class="account-info">
										<div class="widget-content multistep-form">
											<fieldset id="first">
												<div class="login-back">
													<a href="/"><i class="fa-solid fa-arrow-left-long"></i> Back</a>
												</div>
												<div class="login-title">
													<h3>Signup</h3>
													<p class="mb-0">Welcome! Please enter your details.</p>
												</div>
												
												<form action="" method="post"  id="form" enctype="multipart/form-data">
                                                    {% csrf_token %}
													<!-- <div class="form-group">
														<label>Vendor Code</label>
														<input type="text" class="form-control" name = 'vendor_code' placeholder="Enter Your Code" oninput="this.value = this.value.replace(/[^a-z A-Z]/g, '')">
													</div> -->
                                                    <div class="form-group">
														<label>Name</label>
														<input type="text" class="form-control" name = 'name' placeholder="Enter Your Name" oninput="this.value = this.value.replace(/[^a-z A-Z]/g, '')">
													</div>
                                                    <div class="form-group">
														<label>User ID</label>
														<input type="text" class="form-control" name =user_id placeholder="Your Login ID" value="{{ generated_user_id }}" readonly>
													</div>
													<div class="form-group">
														<label>Address</label>
														<input type="text" class="form-control" name = 'address' placeholder="Enter Your Address" maxlength="50">
													</div>
													{% comment %} <div class="form-group">
														<label>Select Country</label>
														<input type="text" class="form-control" name = 'country' placeholder="Select Country">
													</div> {% endcomment %}
													
													<div class="form-group">
														<label>Mobile Number</label>
														<input class="form-control form-control-lg " placeholder="Mobile Number"  name=mobile_number type="number" maxlength="10" oninput="limitInputLength(this, 10)">
													</div>
													<!-- <div class="form-group">
														<label>Experties</label> 
														<br>
														<div class="form-check">
															<input class="form-check-input" type="checkbox" name = 'expertise' value="Astrology" id="flexCheckChecked">
															<label class="form-check-label checkbox-inline" for=" flexCheckChecked">
																Astrology
															</label>
														</div>
														<div class="form-check">
															<input class="form-check-input" type="checkbox" value="Psychic" id="flexCheckDefault" name="expertise">
															<label class="form-check-label checkbox-inline" for="flexCheckDefault">
															  Psychic
															</label>
														</div>
														<div class="form-check">
															<input class="form-check-input" type="checkbox" value="Healer" id="flexCheckDefault" name="expertise" >
															<label class="form-check-label checkbox-inline" for="flexCheckDefault">
																Healer
															</label>
														</div>
														<div class="form-check">
															<input class="form-check-input" type="checkbox" value="Numerology" id="flexCheckDefault" name="expertise">
															<label class="form-check-label checkbox-inline" for="flexCheckDefault">
																Numerology
															</label>
														</div>
														<div class="form-check">
															<input class="form-check-input" type="checkbox" value="Tarot Reading" id="flexCheckDefault" name="expertise">
															<label class="form-check-label checkbox-inline" for="flexCheckDefault">
																Tarot Reading
															</label>
														</div>
														<div class="form-check">
															<input class="form-check-input" type="checkbox" value="Face Reading" id="flexCheckDefault" name="expertise">
															<label class="form-check-label checkbox-inline" for="flexCheckDefault">
																Face Reading
															</label>
														</div>
														<div class="form-check">
															<input class="form-check-input" type="checkbox" value="Palmistry" id="flexCheckDefault" name="expertise">
															<label class="form-check-label checkbox-inline" for="flexCheckDefault">
																Palmistry
															</label>
														</div>
														<div class="form-check">
															<input class="form-check-input" type="checkbox" value="Vastu" id="flexCheckDefault" name="expertise">
															<label class="form-check-label checkbox-inline" for="flexCheckDefault">
																Vastu
															</label>
														</div>
														<div class="form-check">
															<input class="form-check-input" type="checkbox" value="Feng Shui" id="flexCheckDefault" name="expertise">
															<label class="form-check-label checkbox-inline" for="flexCheckDefault">
																Feng Shui
															</label>
														</div>
														<div class="form-check">
															<input class="form-check-input" type="checkbox" value="Puja / Havan" id="flexCheckDefault" name="expertise">
															<label class="form-check-label checkbox-inline" for="flexCheckDefault">
																Puja / Havan
															</label>
														</div>
														<div class="form-check">
															<input class="form-check-input" type="checkbox" value="Panchang / Mahurat" id="flexCheckDefault" name="expertise">
															<label class="form-check-label checkbox-inline" for="flexCheckDefault">
																Panchang / Mahurat
															</label>
														</div>
													</div>
													<div class="form-group">
														<label>Languages knows</label> 
														<br>
														<div class="form-check">
															<input class="form-check-input" type="checkbox" value="English" id="flexCheckChecked" name="languages_known">
															<label class="form-check-label checkbox-inline" for=" flexCheckChecked">
																English
															</label>
														</div>
														<div class="form-check">
															<input class="form-check-input" type="checkbox" value="Hindi" id="flexCheckDefault" name="languages_known">
															<label class="form-check-label checkbox-inline" for="flexCheckDefault">
																Hindi
															</label>
														</div>
														<div class="form-check">
															<input class="form-check-input" type="checkbox" value="French" id="flexCheckDefault" name="languages_known">
															<label class="form-check-label checkbox-inline" for="flexCheckDefault">
																French
															</label>
														</div>
														<div class="form-check">
															<input class="form-check-input" type="checkbox" value="Spanish" id="flexCheckDefault" name="languages_known">
															<label class="form-check-label checkbox-inline" for="flexCheckDefault">
																Spanish
															</label>
														</div>
														<div class="form-check">
															<input class="form-check-input" type="checkbox" value="Russian" id="flexCheckDefault" name="languages_known">
															<label class="form-check-label checkbox-inline" for="flexCheckDefault">
																Russian
															</label>
														</div>
														<div class="form-check">
															<input class="form-check-input" type="checkbox" value="Chinese" id="flexCheckDefault" name="languages_known">
															<label class="form-check-label checkbox-inline" for="flexCheckDefault">
																Chinese
															</label>
														</div>
														<div class="form-check">
															<input class="form-check-input" type="checkbox" value="Malayalam" id="flexCheckDefault" name="languages_known">
															<label class="form-check-label checkbox-inline" for="flexCheckDefault">
																Malayalam
															</label>
														</div>
														<div class="form-check">
															<input class="form-check-input" type="checkbox" value="Telugu" id="flexCheckDefault" name="languages_known">
															<label class="form-check-label checkbox-inline" for="flexCheckDefault">
																Telugu
															</label>
														</div>
														<div class="form-check">
															<input class="form-check-input" type="checkbox" value="Tamil" id="flexCheckDefault" name="languages_known">
															<label class="form-check-label checkbox-inline" for="flexCheckDefault">
																Tamil
															</label>
														</div>
														<div class="form-check">
															<input class="form-check-input" type="checkbox" value="Kannada" id="flexCheckDefault" name="languages_known">
															<label class="form-check-label checkbox-inline" for="flexCheckDefault">
																Kannada
															</label>
														</div>
														<div class="form-check">
															<input class="form-check-input" type="checkbox" value="Bangla" id="flexCheckDefault" name="languages_known">
															<label class="form-check-label checkbox-inline" for="flexCheckDefault">
																Bangla
															</label>
														</div>
														<div class="form-check">
															<input class="form-check-input" type="checkbox" value="Marathi" id="flexCheckDefault" name="languages_known">
															<label class="form-check-label checkbox-inline" for="flexCheckDefault">
																Marathi
															</label>
														</div>
														<div class="form-check">
															<input class="form-check-input" type="checkbox" value="Gujarati" id="flexCheckDefault" name="languages_known">
															<label class="form-check-label checkbox-inline" for="flexCheckDefault">
																Gujarati
															</label>
														</div>
														<div class="form-check">
															<input class="form-check-input" type="checkbox" value="Nepali" id="flexCheckDefault" name="languages_known">
															<label class="form-check-label checkbox-inline" for="flexCheckDefault">
																Nepali
															</label>
														</div>
													</div> -->
													<div class="form-group">
														<label>Password</label>
														<div class="pass-group">
															<input type="password" id='password' name='password' class="form-control pass-input-sub" placeholder="*************">
															<span class="feather-eye toggle-password-sub"></span>
														</div>
													</div>
													<div class="form-group">
														<label>Confirm Password
														</label>
														<div class="pass-group">
															<input type="password" id='confirm_password' name='confirm_password'class="form-control pass-input-sub" placeholder="*************">
															<span class="feather-eye toggle-password-sub"></span>
														</div>
													</div>

                                                    <div class="widget-btn">
                                                        <a class="btn-block"><button type="submit" class="btn btn-primary">Submit</button></a>
                                                    </div>
													<div class="account-signup">
														<p>Already a Member? <a href="/login/">Sign in</a></p>
													</div>
												</form>
												
											</fieldset>
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Doctor Signup -->

				</div>
			</div>		
			<!-- /Page Content -->	

			<!-- Cursor -->
			<!-- <div class="mouse-cursor cursor-outer"></div>
			<div class="mouse-cursor cursor-inner"></div> -->
			<!-- /Cursor -->

		</div>		
		<!-- /Main Wrapper -->
	
		<!-- jQuery -->
		<script src="{%static 'assets3/assets/js/jquery-3.6.4.min.js' %}"></script>
		
		<!-- Bootstrap Bundle JS -->
		<script src="{%static 'assets3/assets/js/bootstrap.bundle.min.js' %}"></script>
		
		<!-- Feather Icon JS -->
		<script src="{%static 'assets3/assets/js/feather.min.js' %}"></script>

		<!-- Mobile Input -->
		<script src="{%static 'assets3/assets/plugins/intltelinput/js/intlTelInput.js' %}"></script>

		<!-- Custom JS -->
		<script src="{%static 'assets3/assets/js/script.js' %}"></script>

		<!-- for country -->
		<script src="//cdn.tutorialjinni.com/jquery/3.6.1/jquery.min.js"></script>
		<script src="//cdn.tutorialjinni.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="//cdn.tutorialjinni.com/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
		<script src="//g.tutorialjinni.com/mojoaxel/bootstrap-select-country/dist/js/bootstrap-select-country.min.js"></script>
		
		
	 
	</body>
</html>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.css">

<script>
  document.querySelector("form").addEventListener("submit", function (event) {
    event.preventDefault(); // Prevent default form submission behavior

    var password = document.getElementById("password").value;
    var confirm_password = document.getElementById("confirm_password").value;
    var termsCheckbox = document.querySelector('input[name="Terms"]');

    // Check if all required fields are filled
    var requiredFields = document.querySelectorAll("[required]");
    var isFormValid = true;
    requiredFields.forEach(function (field) {
      if (!field.value.trim()) {
        isFormValid = false;
        field.classList.add("is-invalid");
      } else {
        field.classList.remove("is-invalid");
      }
    });

    if (!isFormValid) {
      // Display a pop-up message for required fields
      Swal.fire({
        title: "Incomplete Form",
        text: "Please fill in all required fields.",
        icon: "error",
        confirmButtonColor: "#3085d6",
        confirmButtonText: "OK"
      });
      return false;
    }

    // Password validation
    var passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,}$/;
    if (!passwordRegex.test(password)) {
      // Display a pop-up message for invalid password
      Swal.fire({
        title: "Invalid Password",
        text: "Password must include at least one uppercase letter, one lowercase letter, one digit, one special symbol, and be at least 8 characters long.",
        icon: "error",
        confirmButtonColor: "#3085d6",
        confirmButtonText: "OK"
      });
      return false;
    }

    // Confirm password validation
    if (password !== confirm_password) {
      // Display a pop-up message for password mismatch
      Swal.fire({
        title: "Password Mismatch",
        text: "Password and Confirm Password do not match!",
        icon: "error",
        confirmButtonColor: "#3085d6",
        confirmButtonText: "OK"
      });
      return false; // Remove this line to proceed with form submission even on password mismatch
    }

    // If all validations are successful, submit the form
    document.querySelector("form").submit();

    // Show the success message after form submission
    Swal.fire({
      title: "Success!",
      text: "Successfully Registered",
      icon: "success",
      showCancelButton: false,
      confirmButtonColor: "#3085d6",
      confirmButtonText: "OK",
	  timer: 10000,
    }).then(function () {
      // Redirect the user after successful form submission
      window.location.replace("/login/");
    });
  });
</script>



<script>
	function limitInputLength(input, maxLength) {
	  if (input.value.length > maxLength) {
		input.value = input.value.slice(0, maxLength);
	  }
	}
	</script>